@media screen and (max-width: 1100px) {
    .page {
        padding-top: 130px;
        padding-bottom: 130px;
        margin-top: -80px;
    }

    .footer__link {
        flex: 45% 0 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 20px;
    }

    .header__links, .header__sign-up {
        display: none;
    }

    .header__logo .logo__img {
        width: 18px;
        height: 18px;
    }

    .header__logo .logo__name {
        font-size: 25px;
    }

    .page {
        padding-top: 100px;
        padding-bottom: 50px;
        margin-top: -50px;
    }

    .menu-btn, .menu {
        display: block;
    }

    .page__content {
        max-width: 500px;
    }

    .big-img {
        max-width: 350px;
    }

    .page_info .content {
        flex-direction: column-reverse;
    }

    .big-img {
        padding: 10px;
    }

    .info {
        margin-bottom: 40px;
    }

    .info__btn {
        align-self: stretch;
    }

    .page__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pricing {
        flex-direction: column;
        align-items: center;
    }
    
    .plan {
        width: 360px;
        margin:  30px 0 0 0;
    }

    .plan:nth-child(2n) {
        margin:  30px 0 0 0;
        padding: 40px 30px;
    }

    .footer__subscribe, .footer__links {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 500px) {
    .plan {
        width: 100%;
    }

    .footer__link {
        flex: 100% 0 0;
    }

    .subscribe-form {
        max-width: 300px;
        flex-direction: column;
    }

    .subscribe-form__input {
        width: auto;
        margin: 0 0 12px 0;
    }

    .footer__bottom {
        align-items: center;
        flex-direction: column;
    }

    .footer__bottom .logo {
        margin-bottom: 40px;
    }
}